NET "clk" PERIOD = 31.25 ns;
NET "clk" IOSTANDARD = LVCMOS25;
NET "clk" LOC = C8;

#NET "rx" LOC = "C2" | IOSTANDARD = LVCMOS25;
NET "tx" LOC = "C1" | IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = SLOW;

NET "red[1]"		LOC = A3;
NET "green[1]"		LOC = A4;
#NET "a<13>"		LOC = A5;
#NET "a<12>"		LOC = D7;
#NET "a<11>"		LOC = A6;
NET "blue[1]"		LOC = A7;
NET "hsync" 		LOC = A8;
NET "vsync" 		LOC = F8;
NET "joy_1<0>"	LOC = C10 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "joy_1<1>"	LOC = C9  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "joy_1<2>"	LOC = B10 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "joy_1<3>"	LOC = C11 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
#NET "a<3>"	LOC = D10;
NET "joy_1<4>"	LOC = B12 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "joy_1_gnd"	LOC = A14;# | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "joy_1<5>"	LOC = B15 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;

#NET "b<0>"	LOC = B3;
NET "spi_do"	LOC = B4;
NET "spi_sclk"	LOC = C5;
NET "spi_di"	LOC = C6;
NET "spi_cs_n"	LOC = B6;
#NET "b<5>"	LOC = C7;
#NET "b<6>"	LOC = B8;
#NET "b<7>"	LOC = E7;
#NET "b<8>"	LOC = D9;
#NET "b<9>"	LOC = A9;
#NET "b<10>"	LOC = A10;
#NET "b<11>"	LOC = A11;
#NET "b<12>"	LOC = E10;
#NET "b<13>"	LOC = A12;
#NET "b<14>"	LOC = A13;
#NET "b<15>"	LOC = B14;

# Address lines
NET "ram_a<0>" LOC = "C15";
NET "ram_a<1>" LOC = "C16";
NET "ram_a<2>" LOC = "D15";
NET "ram_a<3>" LOC = "D16";
NET "ram_a<4>" LOC = "E16";
NET "ram_a<5>" LOC = "M16";
NET "ram_a<6>" LOC = "N16";
NET "ram_a<7>" LOC = "P15";
NET "ram_a<8>" LOC = "P16";
NET "ram_a<9>" LOC = "R15";
NET "ram_a<10>" LOC = "M13";
NET "ram_a<11>" LOC = "N13";
NET "ram_a<12>" LOC = "N14";
NET "ram_a<13>" LOC = "L13";
NET "ram_a<14>" LOC = "M14";
NET "ram_a<15>" LOC = "D14";
NET "ram_a<16>" LOC = "E13";
NET "ram_a<17>" LOC = "F13";
NET "ram_a<18>" LOC = "L14";

# Data lines
NET "ram_d<0>" LOC = "F16";
NET "ram_d<1>" LOC = "G16";
NET "ram_d<2>" LOC = "H15";
NET "ram_d<3>" LOC = "H16";
NET "ram_d<4>" LOC = "J16";
NET "ram_d<5>" LOC = "K15";
NET "ram_d<6>" LOC = "K16";
NET "ram_d<7>" LOC = "L16";
NET "ram_d<8>" LOC = "K13";
NET "ram_d<9>" LOC = "K14";
NET "ram_d<10>" LOC = "J14";
NET "ram_d<11>" LOC = "J13";
NET "ram_d<12>" LOC = "H14";
NET "ram_d<13>" LOC = "G14";
NET "ram_d<14>" LOC = "H13";
NET "ram_d<15>" LOC = "F14";

# Control lines
NET "ram_ce" LOC = "F15";
NET "ram_we" LOC = "M15";
NET "ram_oe" LOC = "G13";
NET "ram_be" LOC = "E14";

#INST "ram_inst\/RAMB16_S2_inst3" LOC = RAMB16_X1Y7;
#INST "ram_inst\/RAMB16_S2_inst2" LOC = RAMB16_X1Y6;
#INST "ram_inst\/RAMB16_S2_inst1" LOC = RAMB16_X1Y5;
#INST "ram_inst\/RAMB16_S2_inst0" LOC = RAMB16_X1Y4;

#INST "boot_rom_inst\/RAMB16_S2_inst3" LOC = RAMB16_X1Y3;
#INST "boot_rom_inst\/RAMB16_S2_inst2" LOC = RAMB16_X1Y2;
#INST "boot_rom_inst\/RAMB16_S2_inst1" LOC = RAMB16_X1Y1;
#INST "boot_rom_inst\/RAMB16_S2_inst0" LOC = RAMB16_X1Y0;

#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst7" LOC = RAMB16_X0Y7;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst6" LOC = RAMB16_X0Y6;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst5" LOC = RAMB16_X0Y5;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst4" LOC = RAMB16_X0Y4;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst3" LOC = RAMB16_X0Y3;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst2" LOC = RAMB16_X0Y2;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst1" LOC = RAMB16_X0Y1;
#INST "vdp_inst\/vdp_vram_inst\/RAMB16_S1_inst0" LOC = RAMB16_X0Y0;
